img { margin-bottom: 1.5rem }
img:hover { filter: drop-shadow(0 0 2em #673ab8aa) }
.home section { margin-top: 5rem; display: grid; grid-template-columns: repeat(3,1fr); column-gap: 1.5rem }
.resource { padding: 0.75rem 1.5rem; border-radius: 0.5rem; text-align:left; text-decoration:none; color:#222; background:#f1f1f1 }
